<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header border-bottom">
      <%= link_to owner_dashboard_path(current_owner) do %>
      <!-- <div class="image-cropper"> -->
      <%= image_tag "logo-1.png" %>
      <!-- </div> -->
      <% end %>
      <h3 class="my-3">Hello Ludivine !</h3>
      <p>Member since April 2019</p>
    </div>
    <div class="navigation border-bottom">
      <ul class="list">
        <li><button><i class="fab fa-cloudscale"></i>  <%= link_to "Dashboard",owner_dashboard_path(current_owner) %></button></li></br>
        <li><button><i class="far fa-building"></i><%= link_to "My space", "" %></button></li></br>
        <li><button><i class="far fa-address-book"></i><%= link_to "My bookings", owner_space_reservations_path(current_owner, :space_id) %></button></li></br>
        <li><button><i class="far fa-file-archive"></i><%= link_to "Documents", "" %></button></li></br>
        <!--<li><%= link_to "My messages", "" %></li></br>-->
        <!--<li><li><%= link_to "ChatRoom", chatroom_owner_path(:id) %></li>-->
      </ul>
    </div>
      <div class="coworspace d-flex p-3">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo-x2.png" %>
      <% end %>
      <h5 class="mt-3"
      style="color:#333333">COWORKSPACE</h5>
    </div>
  </nav>

<div class="container">
  <% @reservations.first(6).each do |reservation| %>
  <div class="card m-5 card-index-reservations-user">
    <div class="card-header header-resa-user d-flex justify-content-between">
      <h4><%= reservation.user.first_name %> <%= reservation.user.last_name %></h4>
      <h4 class="card-title reservation-status">
        <% if reservation.status == "PENDING" %>
          <div class="text-warning"> <i class="fas fa-hourglass-half"></i> <strong><%= "PENDING" %></strong> </div>
        <% elsif reservation.status == "ACCEPTED" %>
          <div class="text-success"> <i class="fas fa-check"></i> <strong><%= "ACCEPTED" %></strong> </div>
        <% else %>
          <div class="text-danger"> <i class="fas fa-times"></i> <strong><%= "REFUSED" %></strong> </div>
        <% end  %></h4>
    </div>

    <div class="card-body">
      <div class="reservation_info d-flex justify-content-between">
        <em><%= reservation.desk.space.address %></em>
        <div class="status-bookings d-flex justify-content-between">
          <div class="accept" style="font-size:24px">
            <%= link_to accept_owner_space_reservation_path(@space, reservation), method: :patch do %>
              <i class=" status far fa-check-circle"></i>
            <% end %>
          </div>
          <div class="decline" style="font-size:24px">
             <%= link_to decline_owner_space_reservation_path(@space, reservation), method: :patch do  %>
                <i class="status far fa-times-circle"></i>
             <% end %>
           </div>
        </div>
      </div>
    <br>
      <div class="d-flex justify-content-between">
        <div> <h6><i class="far fa-calendar-check text-primary"></i> <%= reservation.arrival_date.strftime("%e %B %Y") %> <i class="fas text-primary fa-long-arrow-alt-right"></i> <%= reservation.departure_date.strftime("%e %B %Y") %> </h6>
        </div>
         <div class="price-résa mr-2" style="font-size: 22px">
          $<%= reservation.total_price %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>


