<div class="mt-5 pt-4 contour" style="margin-top:5rem; ">

  <div class="form-inline-index fixed-top">
    <%= form_tag spaces_path, method: :get, class:"form-inline" do %>
      <%= text_field_tag :query, params[:query],
      class: "form-control form-control-border-blue ",
      placeholder: "Find a space "%>
      <%= submit_tag 'Go!', class:"btn-custom btn-home-search mx-2" %>
    <% end %>
  </div>




  <div class="content-spaces ml-2 d-flex justify-content-around">

    <div class="cards-spaces-container">
      <% @spaces.each do |space|  %>

        <div class="card-space cloudinary">
          <%= cl_image_tag space.photo, width: 270, height: 200, crop: :fill, class: "img-fluid" %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4> <%= space.name.upcase %></h4>
              <!-- <p><%= humanized_money_with_symbol(space.desks.first.price_per_day) %> /day </p> -->
            </div>

            <p class="text-description" ><%= space.description.truncate_words(15) if space.description != nil  %></p>

            <div class="card-reviews-more-info d-flex justify-content-between mt-3">
              <div class="">
                <% if  space.reviews.empty? %>
                <p>No reviews yet</p>
                <% else %>
                <p><i class="fas fa-star"></i><strong><%= space.reviews.average(:rating) %></strong> (<%= space.reviews.count %>) </p>
                <% end %>
              </div>
              <p ><strong><%= link_to "See details", space_path(space), :class => "hover-animate-grow", :style => ""%></strong></p>
            </div>
          </div>

        </div>

      <% end %>
    </div>

    <div
      id="map"
      style="width: 40% !important;
      height: 500px;
      margin-right: 80px;
      "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>

