<div id="index" class="row px-3 pb-3">
	<div class="col-12 col-md-8">
	  <div class="mb-3">
	    <%= form_tag spaces_path, method: :get, class: "space-search-index" do %>
	      <%= text_field_tag :query, params[:query],
	      class: "form-control form-control-border-blue space-search",
	      placeholder: "Find a space "%>
	      <%= button_tag type: 'submit', class: "text-primary search-button" do %>
				  <i class="fas fa-search"></i>
				<% end %>
	    <% end %>
	  </div>

		<div class="content-spaces d-flex justify-content-around">
			<div class="cards-spaces-container">
				<% @spaces.each do |space|  %>
					<div class="card-space cloudinary">
						<%= cl_image_tag space.photo, width: 270, height: 200, crop: :fill, class: "img-fluid" %>
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<h4> <%= space.name.upcase %></h4>
							</div>
							<p><%= space.description.truncate_words(15) if space.description != nil  %></p>
							<div class="d-flex justify-content-between align-items-center">
									<% if space.reviews.empty? %>
										<p>No reviews yet</p>
									<% else %>
										<p><i class="fas fa-star"></i><strong><%= space.reviews.average(:rating) %></strong> (<%= space.reviews.count %>) </p>
									<% end %>
								<%= link_to space_path(space), class: "hover-animate-grow" do %>
								<span class="d-flex align-items-center"><p>Details</p></span>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-4 mb-3 map-index" id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
	
</div>



