<div class="banner" style= "background-image: url('<%= cl_image_path @space.photo%>')">
  </div>
<div class="container">

  <%= link_to "Back to list", spaces_path, class: "btn btn-outline-primary mb-5 mt-4"  %>

  <div class="container-spaces d-flex">
    <div class="card-space-infos">
      <div class="space-infos border-bottom">
        <h1> <%= @space.name %></h1>
        <div class="reviews-address d-flex justify-content-between">
          <p><i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
          <div class="reviews-header">
            <% if  @space.reviews.empty? %>
              <p>No reviews yet</p>
            <% else %>
              <h4><%= @space.reviews.average(:rating) %><i class="fas fa-star"></i></h4>
            <% end %>
          </div>
        </div>
        <div class="website-price d-flex justify-content-between">
          <em><a href="https://twospace.com.au/venue/havana-beach-manly-sydney/"><%= @space.website %></a></em>
          <h3>$ <%= @space.desks.first.price_per_day %> /day </h3>
        </div>
      </div>

      <div class="space-description border-bottom">
        <h3><strong>About <%= @space.name %></strong></h3>
        <p><%= @space.description %></p>
      </div>

      <div class="space-services border-bottom">
        <h3><strong>Amenities</strong></h3>
        <div class="space-amenities">
          <div class="space-amenitie">
            <h5><strong>Basics</strong></h5>
            <div class="basics">
              <span><i class="far fa-check-circle"></i><p>High-speed wifi</p></span>
              <span><i class="far fa-check-circle"></i><p>Air conditioning</p></span>
              <span><i class="far fa-check-circle"></i><p>Heating</p></span>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Seating</strong></h5>
            <div class="seating">
              <i class="far fa-check-circle"></i>
              <p>Standing desks</p>
              <i class="far fa-check-circle"></i>
              <p>Ergonomic chairs</p>
              <i class="far fa-check-circle"></i>
              <p>Beanbags</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Equipment</strong></h5>
            <div class="equipment">
              <i class="far fa-check-circle"></i>
              <p>Printer</p>
              <i class="far fa-check-circle"></i>
              <p>3D Printer</p>
              <i class="far fa-check-circle"></i>
              <p>Scanner</p>
              <i class="far fa-check-circle"></i>
              <p>Sound recording system</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Community</strong></h5>
            <div class="community">
              <i class="far fa-check-circle"></i>
              <p>Events</p>
              <i class="far fa-check-circle"></i>
              <p>Workshops</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Relax zone</strong></h5>
            <div class="relax">
              <i class="far fa-check-circle"></i>
              <p>Outdoor terrace</p>
              <i class="far fa-check-circle"></i>
              <p>Lounge</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Cool stuff</strong></h5>
            <div class="cool">
              <i class="far fa-check-circle"></i>
              <p>Sea-view</p>
              <i class="far fa-check-circle"></i>
              <p>Surf equipment available</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Transportation</strong></h5>
            <div class="transportation">
              <i class="far fa-check-circle"></i>
              <p>Free parking on premises</p>
              <i class="far fa-check-circle"></i>
              <p>Bus stop at 5min</p>
              <i class="far fa-check-circle"></i>
              <p>Wheelchair accessibility</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Catering</strong></h5>
            <div class="transportation">
              <i class="far fa-check-circle"></i>
              <p>Free drinking water</p>
              <i class="far fa-check-circle"></i>
              <p>Free coffee</p>
              <i class="far fa-check-circle"></i>
              <p>Free tea</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-rules-container border-bottom">
        <h3><strong>Space rules</strong></h3>
        <div class="space-rules">
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Food allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Pets allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Parties and events allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-times-circle"></i>Suitable for children</span>
          </div>
          <div class="rules">
            <span><i class="far fa-times-circle"></i>Cooking not allowed</span>
          </div>
        </div>
      </div>
      <div class="space-reviews"> <!--REVIEWS PAULINE -->
        <h2>
          <div id="counter">
          <h3><strong><%= pluralize @space.reviews.size, "review" %></strong></h3>
          </div>
        </h2>
        <div id="reviews">
          <% if @space.reviews.blank? %>
            Be the first to leave a review for <%= @space.name %>
          <% else %>
            <% @space.reviews.order('created_at DESC').each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
          <%= render 'reviews/form', space: @space, review: @review %>
         </div>
     </div>
    </div>

    <div class="book d-flex">

      <div
        id="map"
        class = "no-sticky"
        style="width: 500px;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="card-form-booking">
        <div class="form-reservation">
         <p>Book your space</p>
         <%= simple_form_for [@user, @desk, @reservation] do |f| %>
         <div class="form-inputs my-5">
           <%= f.error_notification %>
           <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
           <%= f.input :arrival_date, as: :string, required: false, input_html: {value: Date.today, class: "datepicker arrival"} %>
           <%= f.input :departure_date, as: :string, required: false, input_html: {value: Date.tomorrow, class: "datepicker departure"}%>
         </div>
         <p class="days">Number of days: 1</p>
         <p>Price per day: $ <span class="price"><%= @desk.price_per_day %></span></p>
         <p>Taxes: $3</p>
         <p class="total-price">Total: $<%= @desk.price_per_day %></p>
         <div class="form-actions my-5">
           <%= f.button :submit, class:'btn btn-primary' %>
         </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>


  <!--       <div class="card hours" style="width: 18rem;">
          <h3 class="card-title"> <i class="far fa-clock"></i> Opening Hours</h3>
          <p class="card-text"> <strong>Monday-Friday :</strong> <%= @space.opening_hours["Mon-Fri"] %> </p>
          <p class="card-text"> <strong>Saturday :</strong> <%= @space.opening_hours['Sat'] %> </p>
          <p class="card-text"> <strong>Sunday :</strong> <%= @space.opening_hours['Sun'] %> </p>
        </div> -->

    <!-- Button trigger modal



      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      BOOK !
      </button>  -->

    <!-- Modal
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel"> <strong>Reservation Details</strong> </h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h3><%= @space.name %></h3>
            <p>puts ratings</p>

            <h3>Dates</h3>
            <p>Add a calendar to select dates</p>
            <p><i class="fas fa-user"></i> 1 person</p>
            <p></p>
            <p> Service charge :</p>
            <p><strong>Total : </strong></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Confirm</button>
          </div>

        </div>
      </div> -->


  </div>
</div>

