<div class="container">

  <div>
    <h1> <%= @space.name %> </h1>
  </div>
  <div>
    <p> <i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
    <p><em> <%= link_to @space.website %></em></p>
    <p> <%= @space.description %> </p>
  </div>
  <div>
     <h2 >Services available</h2>
  </div>
  <div class="card hours" style="width: 18rem;">
    <div class="card-hours">
      <h3 class="card-title"> <i class="far fa-clock"></i> Opening Hours</h3>
      <p class="card-text"> <strong>Monday-Friday :</strong> <%= @space.opening_hours["Mon-Fri"] %> </p>
      <p class="card-text"> <strong>Saturday :</strong> <%= @space.opening_hours['Sat'] %> </p>
      <p class="card-text"> <strong>Sunday :</strong> <%= @space.opening_hours['Sun'] %> </p>
    </div>
  </div>
  <div
    id="map"
    style="width: 500px;
    height: 400px;
    position: sticky;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <!--REVIEWS PAULINE -->
  <h2>
    <%= pluralize @space.reviews.size, "review" %>
  </h2>

  <div id="reviews">
    <% if @space.reviews.blank? %>
      Be the first to leave a review for <%= @space.name %>
    <% else %>
      <% @space.reviews.order('created_at DESC').each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
    <%= render 'reviews/form', space: @space, review: @review %>
  </div>
</div>



