<div class="banner">
</div>
<div class="container">
  <%= link_to "Back to list", spaces_path, class: "btn btn-outline-primary mb-5 mt-4"  %>
  <div class="container-spaces d-flex">
    <div class="card-space-infos">
      <div class="space-infos border-bottom">
        <h1> <%= @space.name %></h1>
        <div class="reviews-address d-flex justify-content-between">
          <p><i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
          <div class="reviews-header">
            <% if  @space.reviews.empty? %>
              <p>No reviews yet</p>
            <% else %>
              <h4><%= @space.reviews.average(:rating) %><i class="fas fa-star"></i></h4>
            <% end %>
          </div>
        </div>
        <div class="website-price d-flex justify-content-between">
          <em><a href="https://twospace.com.au/venue/havana-beach-manly-sydney/"><%= @space.website %></a></em>
          <h3> <%= @space.desks.first.price_per_day %> $ AUD /day </h3>
        </div>
      </div>

      <div class="space-description border-bottom">
        <h3><strong>About <%= @space.name %></strong></h3>
        <div class="hours border-bottom">
          <ul>
            <li><strong> Monday-Friday :</strong><%= @space.opening_hours["Mon-Fri"] %></li>
            <li><strong>Saturday :</strong><%= @space.opening_hours['Sat'] %></li>
            <li><strong>Sunday :</strong><%= @space.opening_hours['Sun'] %></li>
          </ul>
        </div>
        <div class="description text-justify pb-4">
          <%= @space.description %>
        </div>
      </div>

      <div class="space-services border-bottom">
        <h3><strong>Amenities</strong></h3>
        <div class="space-amenities">
          <div class="space-amenitie">
            <h5><strong>Basics</strong></h5>
            <div class="basics">
              <span><p><i class="far fa-check-circle"></i>High-speed wifi</p></span>
              <span><p><i class="far fa-check-circle"></i>Air conditioning</p></span>
              <p><i class="far fa-check-circle"></i>Heating</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Seating</strong></h5>
            <div class="seating">
              <p><i class="far fa-check-circle"></i>Standing desks</p>
              <p><i class="far fa-check-circle"></i>Ergonomic chairs</p>
              <p><i class="far fa-check-circle"></i>Beanbags</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Equipment</strong></h5>
            <div class="equipment">
              <p><i class="far fa-check-circle"></i>Printer</p>
              <p><i class="far fa-check-circle"></i>3D Printer</p>
              <p><i class="far fa-check-circle"></i>Scanner</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Community</strong></h5>
            <div class="community">
              <p><i class="far fa-check-circle"></i>Events</p>
              <p><i class="far fa-check-circle"></i>Workshops</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Relax zone</strong></h5>
            <div class="relax">
              <p><i class="far fa-check-circle"></i>Outdoor terrace</p>
              <p><i class="far fa-check-circle"></i>Lounge</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Cool stuff</strong></h5>
            <div class="cool">
              <p><i class="far fa-check-circle"></i>Sea-view</p>
              <p><i class="far fa-check-circle"></i>Surf equipment</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Transportation</strong></h5>
            <div class="transportation">
              <p><i class="far fa-check-circle"></i>Free parking</p>
              <p><i class="far fa-check-circle"></i>Bus stop at 5min</p>
              <p><i class="far fa-check-circle"></i>Wheelchair accessibility</p>
            </div>
          </div>
          <div class="space-amenitie">
            <h5><strong>Catering</strong></h5>
            <div class="transportation">
              <p><i class="far fa-check-circle"></i>Free drinking water</p>
              <p><i class="far fa-check-circle"></i>Free coffee</p>
              <p><i class="far fa-check-circle"></i>Free tea</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-rules-container border-bottom">
        <h3><strong>Space rules</strong></h3>
        <div class="space-rules">
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Food allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Pets allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-check-circle"></i>Parties and events allowed</span>
          </div>
          <div class="rules">
            <span><i class="far fa-times-circle"></i>Suitable for children</span>
          </div>
          <div class="rules">
            <span><i class="far fa-times-circle"></i>Cooking not allowed</span>
          </div>
        </div>
      </div>
      <div class="space-reviews"> <!--REVIEWS PAULINE -->
        <h2 class="d-flex justify-content-between">
          <div id="counter">
            <h3><strong><%= pluralize @space.reviews.size, "review" %></strong></h3>
          </div>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
            Add a review
            </button>
        </h2>
        <div id="reviews">
          <% if @space.reviews.blank? %>
            Be the first to leave a review for <%= @space.name %>
          <% else %>
            <% @space.reviews.order('created_at DESC').each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
         <!-- Modal -->
          <div class="modal" tabindex="-1" role="dialog" id='reviewModal' >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add a review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><%= render 'reviews/form', space: @space, review: @review %></p>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>

    <div class="book">

      <div
        id="map"
        class="no-sticky"
        style="width: 500px;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="card-form-booking">
        <div class="form-reservation">
          <h3 class="text-center border-bottom pb-2 "><strong>Book your space</strong></h3>
           <%= simple_form_for [@user, @desk, @reservation] do |f| %>
          <div class="form-inputs my-3 border-bottom">
             <%= f.error_notification %>
             <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
             <%= f.input :arrival_date, as: :string, label: "Arrival Date : ", required: false, input_html: {value: Date.today, class: "datepicker arrival"} %>
             <%= f.input :departure_date, as: :string,  label: "Departure Date : ", required: false, input_html: {value: Date.tomorrow, class: "datepicker departure"}%>
          </div>
          <div class="calcul-price">
            <div class="total-days d-flex justify-content-between">
              <h6 class="days"> <strong>Number of days :</strong></h6>
              <p class="days-total">1 </p>
            </div>
            <div class="Price-per-day d-flex justify-content-between">
              <h6> <strong>Price per day :</strong> </h6>
              <p class="price"><%= @desk.price_per_day %> $</p>
            </div>
            <div class="taxes d-flex justify-content-between">
              <h6> <strong>Taxes :</strong></h6>
              <p>3 $</p>
            </div>
            <div class="total-price border-bottom align-middle p-1 d-flex justify-content-between">
              <h5><strong>TOTAL :</strong></h5>
              <h5 class="resa-total-price"> <%= @desk.price_per_day + 3 %> $ AUD </h5>
            </div>
          </div>

         <div class="form-actions button-resa-book my-3">
           <%= f.button :submit, class:'btn text-white btn-block' %>
         </div>
        <% end %>
        </div>
      </div>

      <%= link_to "Send a message to Havana Beach ", spaces_path, class: "btn btn-contact-owner btn-outline-primary"  %>

    </div>
  </div>





    <!-- Modal
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel"> <strong>Reservation Details</strong> </h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h3><%= @space.name %></h3>
            <p>puts ratings</p>

            <h3>Dates</h3>
            <p>Add a calendar to select dates</p>
            <p><i class="fas fa-user"></i> 1 person</p>
            <p></p>
            <p> Service charge :</p>
            <p><strong>Total : </strong></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Confirm</button>
          </div>

        </div>
      </div> -->


  </div>
</div>
