<div class="banner">
</div>
<div id="show-space" class="px-3 pt-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-end">
      </div>
      <div class="action-btn text-right mr-0 mb-2">
        <i class=" fas fa-undo-alt mr-2"> <%= link_to "Back to list", spaces_path, class: "text-white"  %></i>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 px-1">
          <div class="row">
            <div class="col-12 col-md-8 py-0">
              <h1 class="mb-0"><%= @space.name %></h1>
              <div>
                <p><i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
                <p><em><a href="#"><%= @space.website %></a></em></p>
              </div>
              <ul>
                <li><strong> Monday-Friday : </strong><%= @space.opening_hours["Mon-Fri"] %></li>
                <li><strong>Saturday : </strong><%= @space.opening_hours['Sat'] %></li>
                <li><strong>Sunday : </strong><%= @space.opening_hours['Sun'] %></li>
              </ul>
            </div>
            <div class="col-12 col-md-4 text-right p-0">
              <div>
                <% if  @space.reviews.empty? %>
                <p class=" mb-0">No reviews yet</p>
                <% else %>
                <h4><%= @space.reviews.average(:rating) %>/5<i class="fas fa-star"></i></h4>
                <% end %>
                <h3 class="mb-0"><%= humanized_money_with_symbol(@space.desks.first.price_per_day) %> /day</h3>
              </div>
            </div>
          </div>
          <p class="text-justify p-2">
            <%= @space.description %>
          </p>
        </div>
        <div class="col-12 col-md-4 mb-4" id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="space-services">
        <h3 class="mb-3"><strong>Amenities</strong></h3>
        <div class="space-amenities mb-3">
          <div class="space-amenitie py-2">
            <h5><strong>Basics</strong></h5>
            <p><i class="far fa-check-circle"></i>High-speed wifi</p>
            <p><i class="far fa-check-circle"></i>Air conditioning</p>
            <p><i class="far fa-check-circle"></i>Heating</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Seating</strong></h5>
            <p><i class="far fa-check-circle"></i>Standing desks</p>
            <p><i class="far fa-check-circle"></i>Ergonomic chairs</p>
            <p><i class="far fa-check-circle"></i>Beanbags</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Equipment</strong></h5>
            <p><i class="far fa-check-circle"></i>Printer</p>
            <p><i class="far fa-check-circle"></i>3D Printer</p>
            <p><i class="far fa-check-circle"></i>Scanner</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Community</strong></h5>
            <p><i class="far fa-check-circle"></i>Events</p>
            <p><i class="far fa-check-circle"></i>Workshops</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Relax zone</strong></h5>
            <p><i class="far fa-check-circle"></i>Outdoor terrace</p>
            <p><i class="far fa-check-circle"></i>Lounge</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Cool stuff</strong></h5>
            <p><i class="far fa-check-circle"></i>Sea-view</p>
            <p><i class="far fa-check-circle"></i>Surf equipment</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Transportation</strong></h5>
            <p><i class="far fa-check-circle"></i>Free parking</p>
            <p><i class="far fa-check-circle"></i>Bus stop at 5min</p>
            <p><i class="far fa-check-circle"></i>Wheelchair access</p>
          </div>
          <div class="space-amenitie py-2">
            <h5><strong>Catering</strong></h5>
            <p><i class="far fa-check-circle"></i>Free drinking water</p>
            <p><i class="far fa-check-circle"></i>Free coffee</p>
            <p><i class="far fa-check-circle"></i>Free tea</p>
          </div>
        </div>
      </div>

      <div class="my-4">
        <h3 class="mb-3"><strong>Space rules</strong></h3>
        <div class="space-rules p-2">
          <span><i class="far fa-check-circle"></i>Food allowed</span>
          <span><i class="far fa-check-circle"></i>Pets allowed</span>
          <span><i class="far fa-check-circle"></i>Parties and events</span>
          <span><i class="far fa-times-circle"></i>Suitable for children</span>
          <span><i class="far fa-times-circle"></i>Cooking not allowed</span>
        </div>
      </div>

      <div>
        <h3 class="mb-3"><strong><%= pluralize @space.reviews.size, "review" %></strong></h3>
        <div id="reviews" class="mb-3">
          <% if @space.reviews.blank? %>
          Add a review
          <% else %>
          <% @space.reviews.order('created_at DESC').each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
          <% end %>
        </div>
        <div class="action-btn mb-3" data-toggle="modal" data-target="#reviewModal">
          <i class="fas fa-plus mr-2"></i>
          Add a review
        </div>
        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id='reviewModal'>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add a review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><%= render 'reviews/form', space: @space, review: @review %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-form-booking my-4">
        <div class="p-3">
          <h3 class="text-center border-bottom pb-2 "><strong>Book your space</strong></h3>
          <%= simple_form_for [@user, @desk, @reservation] do |f| %>
          <div class="form-inputs my-3 border-bottom">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :arrival_date, as: :string, label: "Arrival Date : ", required: false, input_html: {value: Date.today.strftime("%d %B %Y"), class: "datepicker arrival"} %>
            <%= f.input :departure_date, as: :string,  label: "Departure Date : ", required: false, input_html: {value: Date.tomorrow.strftime("%d %B %Y"), class: "datepicker departure"}%>
          </div>
          <div class="calcul-price">
            <div class="total-days d-flex justify-content-between">
              <div>
                <h5 class="mb-1">Number of days :</h5>
                <h5 class="mb-1">Price per day :</h5>
                <h5 class="mb-2">Taxes :</h5>
                <h4>TOTAL :</h4>

              </div>
              <div class="text-right">
                <h5 class="days-total mb-1">1 </h5>
                <h5 class="price mb-1"><%= @desk.price_per_day %> $</h5>
                <h5 class="mb-2">3 $</h5>
                <h4 class="resa-total-price"> <%= humanized_money_with_symbol(@space.desks.first.price_per_day).to_i + 18 %> $ AUD </h4>
              </div>
            </div>
          </div>

          <div class="text-center my-3">
            <%= f.button :submit, "Validate", class:'w-75 m-auto btn-nav-link-sign-in' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="action-btn text-right mr-0 mb-2">
      <i class=" fas fa-undo-alt mr-2"> <%= link_to "Back to list", spaces_path, class: "text-white"  %></i>
    </div>
  </div>
</div>