<div class=" navbar nav fixed-top navbar-expand-sm navbar-lewagon mb-5" style="background-color:white;margin-bottom:200px; " >

  <%= link_to "/", class: "navbar-brand" do %>
    <div class="d-flex">
      <div class="logoCoworkspace">
        <%= image_tag "logo_coworkspace.svg" %>
      </div>
      <h2 class="name-site my-0 pl-2">COWORKSPACE</h2>
    </div>
  <% end %>

 <form class="form-inline">
      <% if user_signed_in? %>
        <%= link_to "Coworking", spaces_path, class: "btn-nav-link nav-item mx-4" %>
        <%= link_to "Bookings", user_reservations_path(current_user), class: "btn-nav-link nav-item mx-4" %>
        <% if current_user.avatar.file.nil? %>
        <button class=" nav-item dropdown btn avatarUser mx-2" type="button">
              <%= image_tag "fallback/userAvatarDefault.png", class: "rounded-circle  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="text-center info_user border-bottom mx-2 pb-2">
                  <strong> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize[0] %></strong>
                  <p style="opacity:0.6;color:#FE3551;"><em><%= current_user.email %></em> </p>
                </div>

                <div class="dropdown-item-choice d-fex pl-3 p-1 ">
                  <i class="fas icon_navbar fa-user"></i>
                  <%= link_to "Profile", user_path(:id), class: " pl-2 dropdown-item" %>
                </div>

                <div class="dropdown-item-choice d-fex pl-3 p-1 ">
                  <i class="fas  icon_navbar fa-comments"></i>
                  <%= link_to "Messages", "#", class: " pl-2 dropdown-item" %>
                </div>

                <div class="dropdown-item-choice d-fex pl-3 p-1">
                  <i class="fas icon_navbar fa-sign-out-alt"></i>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item pl-2" %>
                </div>
              </div>
          </button>
         <% else %>
            <button class=" nav-item dropdown btn avatarUser mx-2" type="button">
            <%= cl_image_tag current_user.avatar, class: "rounded-circle  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="text-center info_user border-bottom mx-2 pb-2">
                <strong> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize[0] %></strong>
                <p style="opacity:0.6;color:#FE3551;"><em><%= current_user.email %></em> </p>
              </div>

              <div class="dropdown-item-choice d-fex pl-3 p-1 ">
                <i class="fas icon_navbar fa-user"></i>
                <%= link_to "Profile", user_path(:id), class: " pl-2 dropdown-item" %>
              </div>

              <div class="dropdown-item-choice d-fex pl-3 p-1 ">
                <i class="fas icon_navbar fa-envelope"></i>
                <%= link_to "Messages", "#", class: " pl-2 dropdown-item" %>
              </div>

              <div class="dropdown-item-choice d-fex pl-3 p-1">
                <i class="fas icon_navbar fa-sign-out-alt"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item pl-2" %>
              </div>
            </div>
        <% end %>
      <% elsif owner_signed_in? %>
        <%= link_to "Manage your space", owner_dashboard_path(:id), class: "btn  btn-home-signin btn-outline-light mx-2" %>
        <%= link_to "Log out", destroy_owner_session_path, method: :delete%>
      <% else %>
        <%= link_to "Coworking", spaces_path, class: "btn-nav-link nav-item mx-5" %>
        <%= link_to "Entreprise", new_owner_session_path, class: "btn-nav-link nav-item mx-5" %>

        <button class=" nav-item btn-nav-link-sign-in btn ml-5 mr-4" type="button">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </button>
      <% end %>
    </form>
</div>

