<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
  <%= image_tag "logo-x2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--       <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search">
        <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
        </button>
      </form> -->
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%= link_to "My Spaces", "desks", class: "nav-link", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div> <%= link_to "View All", "", class: "dropdown-item" %></div>
          <div> <%= link_to "Add", "", class: "dropdown-item" %></div>
          <div> <%= link_to "View all reservations", "", class: "dropdown-item" %></div>
        </div>
        <li class="nav-item dropdown">

          <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "", class: "dropdown-item" %>
            <%= link_to  "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
         <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

