<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="coworspace border-bottom">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo-x2.png" %>
      <% end %>
    </div>
    <div class="sidebar-header border-bottom">
      <%= link_to owner_dashboard_path do %>
      <!-- <div class="image-cropper"> -->
      <%= cl_image_tag @owner.spaces.first.photo, :gravity=>"face", width: 150, height: 150, crop: :fill, :radius=>"max", :format=>"png" %>
      <!-- </div> -->
      <% end %>
      <h3 style="margin-top:20px;"><%= @owner.name %> </h3>
    </div>
    <div class="navigation border-bottom">
      <ul class="list">
        <li><i class="far fa-building" style="color: gray; font-size: 26px"></i><%= link_to "My space", "" %></li></br>
        <li><i class="far fa-address-book" style="color: gray; font-size: 26px"></i><%= link_to "My bookings", owner_space_reservations_path(current_owner, :space_id) %></li></br>
        <li><i class="far fa-file-archive" style="color: gray; font-size: 26px"></i><%= link_to "Documents", "" %></li></br>
        <!--<li><%= link_to "My messages", "" %></li></br>-->
        <!--<li><li><%= link_to "ChatRoom", chatroom_owner_path(:id) %></li>-->
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row ">
      <div class="top-stat col-lg-12">
        <div class="graph-gender"><%= pie_chart User.group(:gender).count, width: "80", height: "80",legend: "bottom", colors: ["#f29c33", "#5134a2"] %></div> <!-- graph gender -->
        <div class="stat-category">
          <div class="header-number">Age average</div>
          <div class="number age-average"><%= User.average(:age).to_i %> yrs</div> </br> <!-- age moyen -->
        </div>
        <div class="stat-category">
          <div class="header-number">Average duration of stay</div>
          <div class="number time-average"><%= Reservation.average(:total_days).to_i %> days</div></br><!-- durée moyenne de résa -->
        </div>
        <div class="stat-category no-border">
          <div class="header-number">Pending bookings</div>
          <div class="number pending"><%= Reservation.where(status:"PENDING").count %>
          </div></br>
          </div><!-- nombre de résa pending -->
        <!--    </div> -->
      </div>

        <div class="stat col-lg-5">
          <div class="stat-header">Bookings</div>
          <div class="graph"><%= area_chart Reservation.group_by_week(:created_at).count, points: false, colors: ["#5134a2"] %></div> <!-- graph résa -->
        </div>
        <div class="stat col-lg-5">

          <div class="stat-header">Revenues</div>
          <div class="graph"><%= column_chart Reservation.group_by_week(:created_at).sum(:total_price_cents), colors: ["#5134a2"] %></div> <!-- graph revenus -->
        </div>


        <div class="bottom-stat col-lg-12">
          <table style= "margin-top: 69px; line-height: 1.35; border: 1px solid #ddd">
            <thead>
              <tr>
                <th>Desk</th>
               </tr>
            </thead>
          <tbody style="color: #333333; text-align: center;">
              <tr><td>1</td></tr>
              <tr><td>2</td></tr>
              <tr><td>3</td></tr>
              <tr><td>4</td></tr>
              <tr><td>5</td></tr>
              <tr><td>6</td></tr>
              <tr><td>7</td></tr>
              <tr><td>8</td></tr>
              <tr><td>9</td></tr>
              <tr><td>10</td></tr>
              <tr><td>11</td></tr>
              <tr><td>12</td></tr>
              <tr><td>13</td></tr>
              <tr><td>14</td></tr>
          </tbody>
          </table>
          <div id='calendar'></div>
        </div>

    </div>
  </div>
