

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
       <div class="coworspace border-bottom">
              <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "logo-x2.png" %>
              <% end %>
        </div>

        <div class="sidebar-header border-bottom">
          <div class="image-cropper">
            <%= cl_image_tag @owner.avatar, width: 150, crop: :fill %>
          </div>
            <h3><%= @owner.name %> </h3>

        </div>

        <div class="navigation border-bottom">
          <ul class="list">
            <li><%= link_to "My space", "" %></li></br>
            <li><%= link_to "My bookings", owner_space_reservations_path(current_owner, :space_id) %></li></br>
            <li><%= link_to "My reports", "" %></li></br>
            <li><%= link_to "My messages", "" %></li></br>
          </ul>
        </div>
    </nav>

    <div class="stats">
      <div class="row justify-content-around">
        <div class="top-stat col-lg-11">
           <div class="graph"><%= pie_chart User.group(:gender).count, width: "200", height: "200", colors: ["#f29c33", "#5134a2"] %></div> <!-- graph gender -->
           <div class="age-average"><%= User.average(:age).to_i %> yrs</div> </br> <!-- age moyen -->
           <div class="time-average"><%= Reservation.average(:total_days).to_i %> days</div></br><!-- durée moyenne de résa -->
           <div class="pending"><%= Reservation.where(status:"PENDING").count %> pending</div></br><!-- nombre de résa pending -->
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="stat col-lg-5">
          <div class="stat-header">Bookings</div>
          <div class="graph"><%= area_chart Reservation.group_by_week(:created_at).count, points: false, width: "500px", height: "250px", colors: ["#5134a2"] %></div> <!-- graph résa -->
        </div>
        <div class="stat col-lg-5">
        <div class="stat-header">Revenues</div>
          <div class="graph"><%= column_chart Reservation.group_by_week(:created_at).sum(:total_price), width: "500px", height: "250px", colors: ["#5134a2"] %></div> <!-- graph revenus -->
        </div>
      </div>

      <div class="row justify-content-around">
         <div class="bottom-stat col-lg-11"></div>
      </div>
    </div>
</div>


