

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
       <div class="coworspace border-bottom">
              <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "logo-x2.png" %>
              <% end %>
        </div>

        <div class="sidebar-header border-bottom">
          <div class="image-cropper">
            <%= cl_image_tag @owner.spaces.first.photo, width: 150, crop: :fill %>
          </div>
            <h3><%= @owner.name %> </h3>
        </div>

        <div class="navigation border-bottom">
          <ul class="list">
            <li><%= link_to "My space", "" %></li></br>
            <li><%= link_to "My bookings", owner_space_reservations_path(current_owner, :space_id) %></li></br>
            <li><%= link_to "My reports", "" %></li></br>
            <li><%= link_to "My messages", "" %></li></br>
            <li><%= link_to "ChatRoom", chatroom_owner_path(:id) %></li>
          </ul>
        </div>
    </nav>

    <div class="stats">
      <div class="row justify-content-around">
        <div class=" stat col-lg-3">
        </div>
        <div class=" stat col-lg-3">
        </div>
        <div class=" stat col-lg-3">
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="stat col-lg-5"><%= line_chart Reservation.group_by_week(:created_at).count %></div>

        <div class="stat col-lg-5"></div>
      </div>

      <div class="row justify-content-around">
         <div class="stat col-lg-11"></div>
      </div>
    </div>
</div>


