<div class="big_container">

  <nav class="navbar nav-home ">

    <!-- logo redirection homepage -->
    <%= link_to "/", class: "navbar-brand d-flex" do %>
      <div class="d-flex">
        <%= image_tag "logo_coworkspace.svg" %>
        <h2 class="name-site my-0 pl-2">COWORKSPACE</h2>
      </div>
    <% end %>

    <form class="form-inline">
      <% if user_signed_in? %>
        <%= link_to "Find a space", spaces_path, class: "btn  btn-home-signin btn-outline-light mx-2" %>
          <button class=" nav-item dropdown btn mx-2" type="button">
              <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(:id), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </button>
      <% elsif owner_signed_in? %>
        <%= link_to "Manage your space", owner_dashboard_path(:id), class: "btn  btn-home-signin btn-outline-light mx-2" %>
        <%= link_to "Log out", destroy_owner_session_path, method: :delete%>
      <% else %>
        <%= link_to "Coworking", new_owner_session_path, class: "btn-nav-link nav-item mx-5" %>
        <%= link_to "Entreprise", new_owner_session_path, class: "btn-nav-link nav-item mx-5" %>

        <button class=" nav-item btn-nav-link-sign-in btn ml-5 mr-4" type="button">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </button>
      <% end %>
    </form>
  </nav>


  <div class="header d-flex">
    <div class="home_ellipse">
      <%= image_tag "ellipse_home.svg" %>
    </div>
    <div class="slogan_title">
      <h1 class="home_slogan">Find your desk all over the world ! </h1>
      <h4 class="home_title pt-2">From private offices to open spaces <br>
          we will find a space that suits you perfectly.
      </h4>

      <div class="">
              <%= form_tag spaces_path, method: :get, class:"form-inline mt-5" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control form-control-home",
          placeholder: "Select a city" %>
          <%= date_field_tag :arrival_date, params[:arrival_date], class: "form-control-home form-control", placeholder: "12/11/2020" %>
          <%= submit_tag 'Find', class:"btn-custom btn-home-search mx-2" %>
      <% end %>
      </div>
    </div>
    <div class="home_illusta ">
      <div class="home_sun"></div>
      <%= image_tag "home_illustration.svg"%>
    </div>
  </div>


  <div class="home_about background-grey">
      <div class="py-4">
          <h1 class="text-center title_home">About us</h1>
          <br>
          <p class="content text-center">Less alone than at home and more professional than in a coffee shop, Cowork Space has been installed all over the world since 2019. A place of work, exchange and sharing of skills for all entrepreneurs, self-employed, freelancers, project leaders and teleworkers wishing to break the isolation of their homes and develop a quality professional network.</p>
      </div>
  </div>

</div>
