<div class="home_slogan py-2 mb-5">
  <div class="py-3 px-3 row text-center">
		<div id="header-info-with-photo" class="col-12 col-md-8 col-lg-8 d-flex">
			<div class="align-items-around text-left">
				<h1 id="title-coworkspace-on-mobile" class="mb-4"><strong>COWORKSPACE</strong></h1>
		    <h2><strong>Find your desk all over the world !</strong></h2>
		    <p>From private offices to open spaces <br>we will find a space that suits you perfectly.</p>
				<div class="d-flex justify-content-center pt-4">
				 	<%= image_tag  "search_engine.svg" %>
				</div>
			</div>
		</div>

	  <div class="col-12 text-center col-md-4 col-lg-4 d-flex align-items-center justify-content-center">
	    <%= form_tag spaces_path, method: :get, class:"form-group mt-3" do %>
	    	<%= text_field_tag :query, params[:query], class: "my-2 form-inline-no-border", placeholder: "Select a city", id: "search-home" %>
	      <%= date_field_tag :arrival_date, params[:arrival_date], class: "my-2 form-inline-no-border", placeholder: "12/11/2020" %><br>
	      <%= submit_tag 'Find', class: "btn-find-home my-2" %>
	  	<% end %>
	  </div>
  </div>
</div>

<div class="background-grey text-center py-5 row">
  <div class="col-12" data-aos="zoom-in">
    <h3>About us</h3>
    <p>Less alone than at home and more professional than in a coffee shop, Cowork Space has been installed all over the world since 2019. A place of work, exchange and sharing of skills for all entrepreneurs, self-employed, freelancers, project leaders and teleworkers wishing to break the isolation of their homes and develop a quality professional network.</p>
  </div>
</div>

<div class="row my-2 px-md-5 p-5" id="explication_step_1">
  <div class="col-12 col-lg-8 py-5" data-aos="fade-right">
    <h3>All Around The World</h3>
    <p>Located all over the world, you can find your Coworking Space <strong>everywhere</strong> ! <br>
    We offers you clean and modern spaces, adapted to your needs. Because your <strong>success</strong> is our priority. </p>
  </div>
  <div class="illustation_home col-12 col-lg-4 text-center" data-aos="fade-up">
    <%= image_tag "planete.svg"%>
  </div>
</div>

<div class="background-grey row my-2 px-md-5 p-5 " id="explication_step_2" data-aos-delay="1000" data-aos-anchor="#explication_step_1" >
  <div class="illustation_home col-12 col-lg-4 text-center" data-aos="fade-right">
    <%= image_tag "clock.svg"%>
  </div>
  <div class="col-12 col-lg-8 pt-5" data-aos="fade-up">
    <h3>Save Timer</h3>
    <p class="text-justify">
			Optimize your working time by finding a place where can book and play <strong>immediately</strong>. 
			CoworkSpace avoid to wait too much time to receive a host answer. 
		</p>
  </div>
</div>

<div class="row my-2 px-md-5 p-5" data-aos-delay="2000" data-aos-anchor="#explication_step_2">
  <div class="col-12 col-lg-8 py-5" data-aos="fade-right">
    <h3>Business Environment</h3>
    <p>You will have the opportunity to meet professionals from the same sector of activity, exchanges between members will allow you to enrich each other, to <strong>create synergies</strong> , working groups, skills associations, etc. Group spirit contributes to strengthening <strong>motivation and productivity.</strong>  </p>
  </div>
  <div class="illustation_home col-12 col-lg-4 text-center" data-aos="fade-up">
    <%= image_tag "team.svg"%>
  </div>
</div>

<div class="deroulement text-center py-5">
  <h2 class="mb-3" id="step-trigger-1" data-aos="fade-right">Getting started has <br>never been easier</h2>

  <div class="row d-flex justify-content-center">
    <div class="col-md-4 col-12 d-flex justify-content-center py-3" id="step-trigger-2" data-aos="fade-right" data-aos-delay="500" data-aos-anchor="#step-trigger-1">
      <h3 class="number-circle">1</h3>
      <div class="deroulement-content">
        <h3 class="mb-0">Choose your coworking</h3>
        <p>There is more 3490 coworking in more than 25 country. </p>
      </div>
    </div>

    <div class="d-flex col-md-4 col-12 justify-content-center py-3" id="step-trigger-3" data-aos="fade-right" data-aos-delay="800" data-aos-anchor="#step-trigger-2">
      <h3 class="number-circle">2</h3>
      <div class="deroulement-content">
        <h3 class="mb-0">Set the date of your stay</h3>
        <p>Plan your stay with or without your team.</p>
      </div>
    </div>

    <div class="d-flex col-md-4 col-12 justify-content-center py-3" data-aos="fade-right" data-aos-delay="1100" data-aos-anchor="#step-trigger-3">
      <h3 class="number-circle">3</h3>
      <div class="deroulement-content">
        <h3 class="mb-0">Easy Paiment Process</h3>
        <p>Just pay and receive the confirmation. </p>
      </div>
    </div>
  </div>

  <button type="button" class="btn-nav-link-sign-in mr-auto my-2">
    <%= link_to "Try Now !", new_user_session_path, class: "nav-link" %>
  </button>
</div>
