<section class="intro">
  <nav class="navbar nav-home">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo-x2.png" %>
    <% end %>
    <form class="form-inline">
          <% if user_signed_in? %>
            <button class="btn btn-outline-light mx-3" type="button">Manage your space</button>
            <button class="btn btn-outline-light mx-3" type="button">Find a space</button>
            <button class=" nav-item dropdown btn mx-3" type="button">
              <%= image_tag "https://pbs.twimg.com/profile_images/901947348699545601/hqRMHITj_400x400.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <i class="fas fa-user"></i>  <%= link_to "Profile", "#", class: "dropdown-item" %>
            <i class="fas fa-cogs"></i> <%= link_to  "Settings", "#", class: "dropdown-item" %>
            <i class="fas fa-sign-out-alt"></i>  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
            </button>
         <% else %>
           <button class=" nav-item btn btn-outline-light mx-3" type="button">
           <%= link_to "Login", new_user_session_path, class: "nav-link" %>
           </button>
         <% end %>
    </form>
  </nav>


  <div class="header">
    <div class="title">
      <h1>COWORK SPACE</h1>
      <h2>Find the desk you deserve !</h2>
      <p>COWORK SPACE allows you to search coworking spaces around the world</p>
    </div>
    <div class="button">
      <button class="btn-custom btn-lg btn-custom-gradient mt-3" type="button">Find a space !</button>
    </div>
</section>


<section class="about">
    <div class="infos">
      <div class="info-photo">
        <img src="/assets/night.svg">
      </div>
      <div class="content">
        <h1>About us</h1>
        <p>Less alone than at home and more professional than in a coffee shop, Cowork Space has been installed all over the world since 2019. A place of work, exchange and sharing of skills for all entrepreneurs, self-employed, freelancers, project leaders and teleworkers wishing to break the isolation of their homes and develop a quality professional network. Enjoy our spaces and all the services they offer without further delay: cafeteria, relaxation areas, individual or collective offices, wifi, etc.</p>
      </div>
    </div>
</section>

<section class="map-home">
    <div class="fond">
      <div class="map">
        <img src="/assets/carte.png">
      </div>
    </div>
</section>
