
<div class="container form-fill-height">



  <div class="card card-paiement">
    <h2 class="mt-3 text-center border-bottom"> <strong>Reservation Confirmation</strong></h2>
    <div class="card-body">
      <%= form_tag reservation_payments_path(@reservation) do %>
        <div class="date border-bottom">
          <%= @reservation.arrival_date.strftime("%e %B %Y") %> to <%= @reservation.departure_date.strftime("%e %B %Y") %>
        </div>
        <article>
          <label class="amount">
            <span>TOTAL: <%= humanized_money_with_symbol(@reservation.total_price) %> AUD </span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn button-resa-book"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Desk Booking in  "
          data-email="<%= current_user.email %>"
          data-amount="<%= @reservation.total_price_cents %>"
          data-currency="<%= @reservation.total_price.currency %>"></script>
      <% end %>
    </div>
  </div>
</div>
