<!DOCTYPE html>
<html>
  <head>
    <title>COWORKSPACE - Find the coworkspace you need all around the world 🌍 </title><meta name="description" content=" Allow to Freelancers or Digital Nomads to reserve a coworking space all around the world for their next trip."><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Cowokspace - Book the desk you need all around the world">
    <meta property="og:description" content="Cowork Space is a platform where freelancers and digital nomads can find and book a spot in a coworking space all around the world">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.find-coworkspace.com">
    <meta property="og:image" src="<%= image_path('logo-OG.png')%>">

    <meta property="og:site_name" content="Cowork Space"/>
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />

    <%= favicon_link_tag asset_path('fav.jpg') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/
    application.js -->
    <%= javascript_pack_tag 'chartkick' %>

  </head>
  <body>
    <% if action_name == "home"%>
      <%= render 'shared/navbarhome' %>
    <% elsif action_name == "dashboard"%>
      <%= render 'shared/sidebardash' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <% unless action_name == "dashboard" %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%= yield :after_js %>
  </body>
</html>
