<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property=“og:title” content=“Cowokspace - Find the desk you need around the world”>
    <meta property=“og:description” content=“Cowork Space is a platform where freelancers and digital nomads can find and book a spot in a coworking space all around the world“>
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.find-coworkspace.com">
    <meta property=“og:image” content=“logo.png”>
    <meta property=“og:site_name” content=“Cowork Space”/>
    <title>COWORKSPACE - Find the coworkspace you need around the world 🌍 </title>
    <%= favicon_link_tag asset_path('fav.jpg') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if action_name == "home"%>
      <%= render 'shared/navbarhome' %>
    <% elsif action_name == "dashboard"%>
      <%= render 'shared/sidebardash' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <% unless action_name == "dashboard" %>
      <%= render 'shared/footer' %>
    <% end %>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
