<!DOCTYPE html>
<html>
  <head>
    <title>COWORKSPACE - Find the coworkspace you need all around the world 🌍 </title><meta name="description" content=" Allow to Freelancers or Digital Nomads to reserve a coworking space all around the world for their next trip."><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Cowokspace - Book the desk you need all around the world">
    <meta property="og:description" content="Cowork Space is a platform where freelancers and digital nomads can find and book a spot in a coworking space all around the world">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.find-coworkspace.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">

    <meta property="og:site_name" content="Cowork Space"/>
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <%= favicon_link_tag asset_path('favicon_CoworkSpace2.ico') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/
    application.js -->
    <%= javascript_pack_tag 'chartkick' %>

  </head>
  <body>
    <% if action_name == "home"%>
      <%= render 'shared/navbarhome' %>
    <% elsif action_name == "dashboard"%>
      <%= render 'shared/sidebardash' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <% unless action_name == "dashboard" %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      // delay: 500, // values from 0 to 3000, with step 50ms
      duration: 1250, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: true, // whether animation should happen only once - while scrolling down
    });
  </script>

    <%= yield :after_js %>
  </body>
</html>
